<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :selection %><br>
    <%= f.text_field :selection %>
  </div>
  <div class="field">
    <%= f.label :week %><br>
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.check_box :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
