<p id="notice"><%= notice %></p>

<p>
  <strong>Selection:</strong>
  <%= @pick.selection %>
</p>

<p>
  <strong>Week:</strong>
  <%= @pick.week %>
</p>

<p>
  <strong>User:</strong>
  <%= @pick.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @pick.game_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @pick.winner %>
</p>

<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
